# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
**/.venv312/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Data cache
data_cache/

# Logs
*.log

# MacOS
.DS_Store